.wrapper
	{
		padding: 10px;
		}

legend {
	font-weight: bold;
	}
	
ul {
    list-style-type: none;
}

.weekends, .book_html, .books, .comments, .end, .que, .spam {
	font-weight: bold;
	padding: 10px;
	}
	
form>fieldset {
    margin-bottom: 20px;
	}

.about_myself li {
	margin-bottom: 15px;
	}
	
textarea {
	margin-bottom	: 20px;
}	

.email {
	font-weight: bold;
	}
	
.spam_cat {
	padding-left: 10px;
	font-style: italic;
}

.spam {
	display:block;
}

table.table_first {
	 margin-bottom:20px;
	 width: 100%;
}

table.table_second {
	 width: 50%;
	 margin: auto;
	 margin-bottom:20px;
}

table.table_third {
	 width: 50%;
	 border: 3px solid grey;
	 border-collapse: collapse;
	 margin: auto;
}

th, td {
	border: 1px solid grey;
	padding: 5px;
}

.table_third th {
	text-align: left;
}
